<h1>Home#index</h1>

<div class="columns">

  <div class="column">
    <h2 class="title">Authors</h2>
    <ul class="ml-5">
      <% @years.each do |year| %>
        <li><%=link_to year.year, year %></li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <h2 class="title">Books</h2>
      <ol class="ml-5">
        <% @books.each do |book| %>
          <li><%=link_to book.title, book %> by <%=link_to book.author.name, book.author %></li>
        <% end %>
      </ol>
  </div>

</div>

