<div class="box has-background-link-light">

  <table class="table is-hoverable is-fullwidth">

    <thead>
        <tr>
          <th class="title">All Books Ordered by Rating</th>
          <td></td>
          <td></td>
        </tr>

    </thead>

    <tbody>

        <% @books.each do |book| %>
          <tr>
            <td><%=link_to book.title, book %></td>
            <td> by <%=link_to book.author.name, book.author %></td>
            <td>
              <p>rating: <%=book.rating%>/5</p>
              <% if book.rating > 4.7 %>
                <p>🤩</p>
              <% elsif book.rating > 4.4 %>
                <p>😎</p>
                <% elsif book.rating > 3.9 %>
                <p>😊</p>
              <% else %>
                <p>😢</p>
              <% end %>
            </td>
          </tr>
        <% end %>

    </tbody>

  </table>

</div>

<%= paginate @books %>

