<div class="box has-background-success-light">
  <h2 class="title">Top 50 books of <%= @year.year %></h2>
  <ol>
    <% @year.books.order("rating DESC").each do |book| %>
      <li><%= link_to book.title, book %></li>
    <% end %>
  </ol>
</div>


