<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box has-background-link-light">
      <p class="title">Data Set</p>
      <p>Data was pulled from a csv file from a dataset found on Kaggle.com called 'Amazon Top 50 Bestselling Books 2009-2019'. The data is structured as one ‘Books’ table with columns for the title, author, rating, number of reviews, price, year(s) it was in the top 50 and genre attributes. </p>
    </div>
    <div class="tile is-child box has-background-success-light">
      <p class="title">Table Structure</p>
      <p>The database is structured as follows. The Books table is as described above. The Authors table and Genres table have one to many relationships to the Books table. Note that the only genres are fiction and non-fiction and that a book can belong to only one category of genre. Finally there is a Years table with a many to many relationship to the books table since a book can be in the top 50 more than one year, and a given year has 50 top books in it. This requires a BookYears joiner table.</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box has-background-warning-light">
      <%= image_tag 'bookserd.PNG' %>
    </div>
  </div>
</div>